<div class="wrapper">
    <div style="margin-left:15px">
        <h1 class="text-white">
            Документи
        </h1>
    </div>
    <div style="margin-left:15px">
        <button mat-raised-button color="primary" [routerLink]="'create'">Добавити документ</button>
    </div>
    <mat-tab-group style="margin-top: 24px;" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="бакалавр">
            <div class="documents">
                <table mat-table #table [dataSource]="dataSource" matSort style="width: 90%;" cdkDropList
                    [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="FileName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.FileName}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                                (click)="removeDocument(element)">видалити</button> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="магістр">
            <div class="documents">
                <table mat-table #table [dataSource]="dataSource" matSort style="width: 90%;" cdkDropList
                    [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="FileName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.FileName}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                                (click)="removeDocument(element)">видалити</button> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="освітня программа">
            <div class="documents">
                <table mat-table #table [dataSource]="dataSource" matSort style="width: 90%;" cdkDropList
                    [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="FileName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.FileName}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                                (click)="removeDocument(element)">видалити</button> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>